<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle" style="font-family: 'Quicksand', sans-serif;">IEFI - Sistemas y Organizaciones</h1>
        <p class="lead" style="font-family: 'Quicksand', sans-serif;">Trabajo referente al IEFI de Sistemas y organizaciones del alumno Diego Piccinali</p>
        <p><a href="https://asp.net" class="btn btn-dark">Repositorio &raquo;</a></p>
    </section>
    <div class="row justify-content-center">
        <section class="col-md-3 text-center my-4 mx-4" aria-labelledby="gettingStartedTitle" style="padding:20px; border:3px solid #000; border-radius:30px">
            <h2 style="font-family: 'Quicksand', sans-serif;">Sistema de Biblioteca</h2>
            <br />
            <img style="height: 150px;" src="https://i.imgur.com/a8SDeGA.png" class="mx-auto d-block" />
            <br />
            <br />
            <p class="text-lg-start">
                Sistema de Gestión de Biblioteca, en la cual el usuario puede gestionar libros, socios, empleados y los prestamos
                que se realicen por estos de manera sencilla y eficiente.
            </p>
        </section>
        <section class="col-md-3 text-center my-4 mx-4" aria-labelledby="librariesTitle" style="padding:20px; border:3px solid #000; border-radius:30px">
            <h2 style="font-family: 'Quicksand', sans-serif;">Diagrama UML</h2>
            <br />
            <img style="height: 150px;" src="https://i.imgur.com/lkX4A0U.png" class="mx-auto d-block" />
            <br />
            <br />
            <p class="text-lg-start">Realizado mediante la implementación de un diagrama UML para el diseño de la Base de Datos</p>
        </section>

        <section class="col-md-3 text-center my-4 mx-4" aria-labelledby="hostingTitle" style="padding:20px; border:3px solid #000; border-radius:30px">
            <h2 style="font-family: 'Quicksand', sans-serif;">Realizado en C#</h2>
            <br />
            <img style="height: 150px;" src="https://i.imgur.com/43oJz5r.png" class="mx-auto d-block" />
            <br />
            <br />
            <p class="text-lg-start">API WEB de MVC realizada mediante ASP.NET(.NetFramework) mediante la utilización de Entity Framework</p>
        </section>
    </div>
</main>
